body {
	margin: 0px;
	height: 1334px;
	width: 750px;
	background-color: white;
}

.content {
	background-color:white;
	width:750px;
	height:1334px;
	position: fixed;
}

.notificationBar {
	height:30px;
	width: 750px;
	background-color:#f2f2f2;
	position: fixed;
	top: 0px;
	font-family: arial;
	font-size: 25px;
	text-align: center;
}


.titleBar {
	height:100px;
	width: 750px;
	background-color:#f2f2f2;
	position: fixed;
	top:30px;
}

.navBar {
	height:100px;
	width: 750px;
	background-color:#f2f2f2;
	opacity: .95;
	position: fixed;
	top: 1234px;
}

.typeBlock {
	height:100px;
	width: 750px;
	background-color:white;
	opacity: .95;
	position: fixed;
	top: 1134px;
	margin: 0px;
}

.daySelect {
	font-family: arial;
	font-size: 30px;
	color: black;
	height: 100px;
	width: 250px;
	border: none;
	margin: 0px;
	position: fixed;
	text-align: center;
	background-color: white;
}

#scheduleBlock {
	width: 600px;
	height: 860px;
	background-color: white;
	position: fixed;
	top: 200px;
	left: 75px;
	margin: auto;
}

#timeTitleAB {
	color: black;
	position: fixed;
	width: 300px;
	left: 75px;
	top: 325px;
	font-family: arial;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}

#timeTitleC {
	color: white;
	position: fixed;
	width: 300px;
	left: 75px;
	top: 275px;
	font-family: arial;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}

#periodTitleAB {
	color: black;
	position: fixed;
	width: 300px;
	left: 375px;
	top: 325px;
	font-family: arial;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}

#periodTitleC {
	color: white;
	position: fixed;
	width: 300px;
	left: 375px;
	top: 275px;
	font-family: arial;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}

#day {
	font-family: arial;
	font-size: 40px;
	color: black;
	position: fixed;
	text-align: center;
	width: 750px;
	height: 50px;
	top: 60px;
}

#abButton {
	background-color:#454545;
	color: white;
}

#abDay {
	width: 600px;
	height: 600px;
	position: fixed;
	top: 400px; 	
	color: black;
	font-size: 30px;
	font-family: arial;
}

#cDay {
	width: 600px;
	height: 600px;
	position: fixed;
	top: 1350px;
	color: black;
	font-size: 30px;
	font-family: arial;
}

#timeBodyAB {
	position: relative;
	top: 75px;
	left: 0px;
	height: 50px;
	width: 300px;
	text-align: center;
	margin: 0px;
	margin-top: 10px;
}

#timeBodyC {
	position: relative;
	top: 25px;
	left: 0px;
	height: 50px;
	width: 300px;
	text-align: center;
	margin: 0px;
	margin-top: 10px;
}

#periodBodyAB {
	position: relative;
	left: 300px;
	top: -345px;
	height: 50px;
	width: 300px;
	text-align: center;
	margin: 0px;
	margin-top: 10px;
}

#periodBodyC {
	position: relative;
	left: 300px;
	top: -635px;
	height: 50px;
	width: 300px;
	text-align: center;
	margin: 0px;
	margin-top: 10px;
}

#homeButton {
	width: 100px;
	height: 100px;
	background: none;
	border: none;
	margin-top: 5px;
	position: fixed;
	top: 1220px;
	left: 45px;
}

#menuButton {
	width: 100px;
	height: 100px;
	background: none;
	border: none;
	margin-top: 5px;
	position: fixed;
	top: 1220px;
	left: 232px;
}

#orderButton {
	width: 100px;
	height: 100px;
	background: none;
	border: none;
	margin-top: 5px;
	position: fixed;
	top: 1217px;
	left: 420px;
}

#otherButton {
	width: 100px;
	height: 100px;
	background: none;
	border: none;
	margin-top: 5px;
	position: fixed;
	top: 1230px;
	left: 605px;
}

.icon {
	width: 50px;
	height: 50px;
	filter: invert(0%);
}

.iconLabel {
	position: fixed;
	top: 1300px;
	color: black;
	font-family: arial;
	font-size: 20px;
	width: 187.5px;
	text-align: center;
}

.otherIcon {
	width: 50px;
	height: 14px;
	margin-bottom: 15px;
	filter: invert(0%);
}




