{% extends "layout.html" %}
{% block main %}
    <div class="col-lg-3 col-sm-6">
        <div class="card">
            <div class="content">
                <div class="row">
                    <div class="col-xs-5">
                        <div class="icon-big icon-success text-center">
                            <i class="ti-medall"></i>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <div class="numbers">
                            <p>Your Points</p>
                            {{ user['points'] }}
                        </div>
                    </div>
                </div>
{#                <div class="footer">#}
{#                    <hr/>#}
{#                    <div class="stats">#}
{#                        <i class="ti-reload"></i> Updated Today#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card">
            <div class="content">
                <div class="row">
                    <div class="col-xs-5">
                        <div class="icon-big icon-danger text-center">
                            <i class="ti-flag"></i>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <div class="numbers">
                            <p>Your Assignment</p>
                            {{ user['assignment'] }}
                        </div>
                    </div>
                </div>
{#                <div class="footer">#}
{#                    <hr/>#}
{#                    <div class="stats">#}
{#                        <i class="ti-timer"></i> In the last hour#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
    </div>
{% endblock %}
{% block active_dashboard %}'active'{% endblock %}
{% block title %}Dashboard{% endblock %}
{% block navbar %}Dashboard{% endblock %}
