<html>	
	<head>
		<title>Options Page</title>
		<script src="../static/js/order.js"></script>
		<link href="../static/css/order.css" type="text/css" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>


	<body onLoad="start()">




<div id="topBar" class="navBar">

	<button type="button" id="button" onclick="select()"><p21 style="color:red;">Back</p21></button>

	<div class="title">
		<h1>Conrad Cafe</h1>
		<img src="../static/img/logo.gif" class="alogo">
	</div>

</div>




<div class="content">

	<div class="entry">
			<div class="desc">
				<h5 id="dishName" class="dish">Cheesburger</h5>
				<div class="dishDesc"><p5 id="dishDesc">Includes this but not that</p5><br></div>
				<div class="dishPrice"><p6 id="dishPrice">$3.85</p6></div>
				<img id="dishImage" src="../static/img/burger.gif">
			</div>
	</div>



	<div class="quantityBlock">

	<p class="quantityText">Quantity</p>
	<button type="button" class="subtractButton" onclick="subtractQuantity()"><img src="../static/img/subtract.gif"></button>
	<h id="quantityNumber">1</h>
	<button type="button" class="addButton" onclick="addQuantity()"><img src="../static/img/add.gif"></button>

	</div>



	<hr class="seperator">


<div class="extrasBlock">

	<h5 class="extrasTitle">Extras</h5>



	<div class="quantityBlock">
	<p class="quantityText">Side One</p>
	<button type="button" class="subtractButton" onclick="subtractSideOne()"><img src="../static/img/subtract.gif"></button>
	<h class="quantityText" id="sideOneAmount">0</h>
	<button type="button" class="addButton" onclick="addSideOne()"><img src="../static/img/add.gif"></button>
	</div>


	<div class="quantityBlock">
	<p class="quantityText">Side Two</p>
	<button type="button" class="subtractButton" onclick="subtractSideTwo()"><img src="../static/img/subtract.gif"></button>
	<h class="quantityText" id="sideTwoAmount">0</h>
	<button type="button" class="addButton" onclick="addSideTwo()"><img src="../static/img/add.gif"></button>
	</div>


	<div class="quantityBlock">
	<p class="quantityText">Side One</p>
	<button type="button" class="subtractButton" onclick="subtractSideOne()"><img src="../static/img/subtract.gif"></button>
	<h class="quantityText" id="sideOneAmount">0</h>
	<button type="button" class="addButton" onclick="addSideOne()"><img src="../static/img/add.gif"></button>
	</div>


	<div class="quantityBlock">
	<p class="quantityText">Side One</p>
	<button type="button" class="subtractButton" onclick="subtractSideOne()"><img src="../static/img/subtract.gif"></button>
	<h class="quantityText" id="sideOneAmount">0</h>
	<button type="button" class="addButton" onclick="addSideOne()"><img src="../static/img/add.gif"></button>
	</div>

</div>


<button type="button" id="pickUpButton" class="pickUpButton" onclick="pickUp()"><p class="pickUpLabel">Pick Up</p></button>


<button type="button" id="deliveryButton" class="deliveryButton" onclick="delivery()"><p class="pickUpLabel">Delivery</p></button>


<input class="textBox" type="text" id="textBox" value="">
<div id="warning" class="warning">Type in Name</div>


<button type="button" id="purchaseButton" class="purchase" onclick="purchase()"><p class="pickUpLabel">Place Order</p></button>





<div id="navBar" class="chinBar">

	<div class="totalText"><strong>Total</strong></div>
	<div class="finalPrice"><strong><p69 id="money"></p69></strong></div>

	<button type="button" id="homeButton" onclick="homePage()"><p20 class="iconLabel" style="left:0px;">Home</p20><img src="../static/img/home.gif" class="icon"></button>

	<button type="button" id="menuButton" onclick="menuButton()"><p20 class="iconLabel" style="left:187.5px;">Scholarships</p20><img src="../static/img/menu.gif" class="icon"></button>

	<button type="button" id="orderButton" onclick="orderPage()"><p20 class="iconLabel" style="left:375px;">Conrad Cafe</p20><img src="../static/img/order.gif" class="icon"></button>

	<button type="button" id="otherButton" onclick="schedulePage()"><p20 class="iconLabel" style="left:562.5px;">Schedule</p20><img src="../static/img/other.gif" class="otherIcon"></button>
</div> 

<div id="notificationBar" class="notificationBar">
	<center><p1>9:41 AM</p1></center>
</div>


</body>

</html>




