<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../static/css/schedule.css">
		<script src="../static/js/schedule.js"></script>
	</head>
	<body>


<div class="content">
	<div id="scheduleBlock">
		<h id="timeTitleAB">Time</h>
		<h id="timeTitleC">Time</h>
		<h id="periodTitleAB">Period</h>
		<h id="periodTitleC">Period</h>

		<div id="abDay">
		<p id="timeBodyAB">9:05 - 10:40</p>
		<p id="timeBodyAB">10:45 - 12:15</p>
		<p id="timeBodyAB">12:20 - 2:40</p>
		<p id="timeBodyAB">12:20 - 12:50</p>
		<p id="timeBodyAB">12:55 - 1:25</p>
		<p id="timeBodyAB">1:30 - 2:00</p>
		<p id="timeBodyAB">2:45 - 4:15</p>

		<p id="periodBodyAB">1st/5th Period</p>
		<p id="periodBodyAB">2nd/6th Period</p>
		<p id="periodBodyAB">3rd/7th Period</p>
		<p id="periodBodyAB">A Lunch</p>
		<p id="periodBodyAB">B Lunch</p>
		<p id="periodBodyAB">C Lunch</p>
		<p id="periodBodyAB">4/8th Period</p>
		</div>

		<div id="cDay">
		<p id="timeBodyC">9:05 - 9:55</p>
		<p id="timeBodyC">10:00 - 10:40</p>
		<p id="timeBodyC">10:45 - 11:25</p>
		<p id="timeBodyC">11:30 - 1:10</p>
		<p id="timeBodyC">11:30 - 12:00</p>
		<p id="timeBodyC">12:05 - 12:35</p>
		<p id="timeBodyC">12:40 - 1:10</p>
		<p id="timeBodyC">1:15 - 1:55</p>
		<p id="timeBodyC">2:00 - 2:40</p>
		<p id="timeBodyC">2:45 - 3:25</p>
		<p id="timeBodyC">3:30 - 4:15</p>

		<p id="periodBodyC">1st Period</p>
		<p id="periodBodyC">2nd Period</p>
		<p id="periodBodyC">4th Period</p>
		<p id="periodBodyC">3rd Period</p>
		<p id="periodBodyC">A Lunch</p>
		<p id="periodBodyC">B Lunch</p>
		<p id="periodBodyC">C Lunch</p>
		<p id="periodBodyC">5th Period</p>
		<p id="periodBodyC">6th Period</p>
		<p id="periodBodyC">7th Period</p>
		<p id="periodBodyC">8th Period</p>
		</div>
	</div>
</div>


<div class="titleBar">
	<div id="day">A/B Day Schedule</div>
</div>


<div class="notificationBar">
9:45 PM
</div>


<div class="navBar">

</div>



<div class="typeBlock">
	<button style="left:0px" id="abButton" class="daySelect" type="button" onClick="ab()">A/B Day</button>
	<button style="left:250px" id="cButton" class="daySelect" type="button" onClick="c()">C Day</button>
	<button style="left:500px" id="pButton" class="daySelect" type="button" onClick="p()">Prep-Rally</button>
</div>


	<button type="button" id="homeButton" onclick="homePage()"><p20 class="iconLabel" style="left:0px;">Home</p20><img src="../static/img//home.gif" class="icon"></button>

	<button type="button" id="menuButton" onclick="menuButton()"><p20 class="iconLabel" style="left:187.5px;">Scholarships</p20><img src="../static/img//menu.gif" class="icon"></button>

	<button type="button" id="orderButton" onclick="orderPage()"><p20 class="iconLabel" style="left:375px;">Conrad Cafe
</p20><img src="../static/img/order.gif" class="icon"></button>

	<button type="button" id="otherButton" onclick="otherPage()"><p20 class="iconLabel" style="left:562.5px;">Schedule</p20><img src="../static/img/other.gif" class="otherIcon"></button>
</div> 


	</body>

</html>