{% extends "layout.html" %}
{% block main %}
    <script src="../static/js/search.js"></script>
    <!-- Form Name -->
    <div id="inner_container">
        <fieldset>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="student_id">By Student ID</label>
                <div class="col-md-4">
                    <input id="student_id" name="student_id" type="text" placeholder="Student ID"
                           class="form-control input-md">
                </div>
                <button onclick="id_search($('#student_id').val())" id="search_id" name="search_id" class="btn btn-danger" style="margin-left: 1em;">Search</button>
            </div>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="first_name">By Name</label>
                <div class="col-md-4">
                    <input id="first_name" name="first_name" type="text" placeholder="First Name"
                           class="form-control input-md">

                    <input id="last_name" name="last_name" type="text" placeholder="Last Name"
                           class="form-control input-md">

                </div>

                <button onclick="name_search($('#first_name').val(), $('#last_name').val())" id="search_name" name="search_name" class="btn btn-danger" style="margin-left: 1em;">Search
                </button>
            </div>

        </fieldset>
    </div>
{% endblock %}