<div class="card">
    <div class="header">
        <h4 class="title"></h4>
        <p class="category">Here is a subtitle for this table</p>
    </div>
    <div class="content table-responsive table-full-width">
        <table class="table table-striped">
            <thead>
            <tr>
                {% for head in table['head'] %}
                    <th> {{ head }}</th>{% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for row in table['rows'] %}
                <tr>
                    {% for coloumn in row %}
                        <td> {{ coloumn }} </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>