<div class="card">
    <div class="header">
        <h4 class="title"></h4>
        <p onclick="location.reload();" class="category selected"><i class="ti-arrow-left"></i> Back
        </p>
    </div>
    <div class="content table-responsive table-full-width">
        <table class="table table-striped">
            <thead>
            <tr>
                {% for head in table['head'] %}
                    <th> {{ head }}</th>{% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for row in table['rows'] %}
                <tr onclick="window.location = Flask.url_for('profile', {'id': {{ row[1] }}});" class="selected">
                    {% for coloumn in row %}
                        <td> {{ coloumn }} </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>