{% extends "layout.html" %}
{% block main %}
<script src="../static/js/profile.js"></script>
<div class="col-lg-4 col-md-5">
    <div class="card card-user">
        <div class="image">
            <img src="../static/img/background.jpg" alt="..."/>
        </div>
        <div class="content">
            <div class="author">
                <img class="avatar border-white" src="../static/img/faces/face-2.jpg" alt="..."/>
                <h4 class="title">
                    <div id="name">{{ user['first_name'] }} {{ user['last_name'] }}</div>
                    <br/>
                    <a href="#">
                        <small>{{ user['id'] }}</small>
                    </a>
                </h4>
            </div>
            <p class="description text-center"></p>
        </div>
        <hr>
        <div class="text-center">
            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    <h5 id="position_label"> {{ user['position'] }} <br/>
                        <small>Position</small>
                    </h5>
                </div>
                <div class="col-md-4">
                    <h5 id="points_label"> {{ user['points'] }} <br/>
                        <small>Points</small>
                    </h5>
                </div>
                <div class="col-md-3">
                    <h5 id="assignment_label">{{ user['assignment'] }}<br/>
                        <small>Assignment</small>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-8 col-md-7">
    <div class="card">
        <div class="header">
            <h4 class="title">Profile Details</h4>
        </div>
        <div class="content">
            <form>
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label>School</label>
                            <input type="text" class="form-control border-input" disabled placeholder="School"
                                   value="Emmet J. Conrad High School">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>ID</label>
                            <input id="user_id_input" type="number" class="form-control border-input" {{ disabled }}
                                   placeholder="ID"
                                   value="{{ user['id'] }}">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Title</label>
                            <select id="position_select" class="form-control border-input" {{ disabled }}>
                                <option {% if user['position'] == 'Student' %}selected="selected"{% endif %} value="0">Student</option>
                                <option {% if user['position'] == 'Teacher' %}selected="selected"{% endif %} value="1">Teacher</option>
                                <option {% if user['position'] == 'Admin' %}selected="selected"{% endif %} value="2">Admin</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>First Name</label>
                            <input id="first_name_input" type="text" class="form-control border-input" {{ disabled }}
                                   placeholder="First Name" value="{{ user['first_name'] }}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Last Name</label>
                            <input id="last_name_input" type="text" class="form-control border-input" {{ disabled }}
                                   placeholder="Last Name" value="{{ user['last_name'] }}">
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button onclick="change_profile({{ user['id'] }}, $('#user_id_input').val(), $('#first_name_input').val(), $('#last_name_input').val(), $('#position_select').val())"
                            type="button" class="btn btn-info btn-fill btn-wd">Update Profile
                    </button>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>
<div class="col-lg-8 col-md-7">
    <div class="card">
        <div class="header">
            <h4 class="title">Points and Assignment</h4>
        </div>
        <div class="content">
            <form>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Add Points</label>
                            <input id="points_input" type="number" {{ disabled }} class="form-control border-input"
                                   placeholder="Add Points"
                                   value="0">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Set Assignment</label>
                            <input id="assignment_input" type="text" class="form-control border-input" {{ disabled }}
                                   placeholder="Assignment"
                                   value="{{ user['assignment'] }}">
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button onclick="update_points($('#points_input').val(), $('#assignment_input').val(), {{ user['id'] }}); "
                            type="button" class="btn btn-info btn-fill btn-wd">Submit
                    </button>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block active_profile %}'active'{% endblock %}